
.FilterItemDivHeading {
    font-weight: 700;
    margin-top: 10px;
    color: #002f34;
}

.FilterItemsdiv li{
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.FilterItemsdiv a{
    text-decoration: none;
    color: rgba(0,47,52,.64);
}

.list1 a{
    color: #002f34;
    font-weight: 700;
}

.list1 span{
    color: rgba(0,47,52,.64);
}

/* Filter Location */

.FilterLocationDiv h6{
    font-weight: 700;
}

.LocationInput{
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 12px 0;
}

/* Filter Region */

.FilterRegionDiv li{
    list-style: none;
    margin-bottom: 12px;
}

.FilterRegionDiv a{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgba(0,47,52,.64);
}

.regionHeading {
    font-weight: 700;
    margin-bottom: 12px;
}

/* Filter Price */

.PriceHeading {
    font-weight: 700;
}

.PriceInput {
    width: 45%;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(245, 241, 241);
    margin-right: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.RangeInput {
    width: 95%;
    color: black;
}

/* Brand */

.BrandHeading {
    font-weight: 700;
    margin-bottom: 18px;
}

.FilterBrandDiv {
    border-bottom: 1px solid #929494;
    border-top: 1px solid #929494;
}

.FilterBrandDiv li{
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.FilterBrandDiv a{
    text-decoration: none;
    color: rgba(0,47,52,.64);
}

.FilterBrandDiv span{
    color:rgba(0,47,52,.36) ;
}

/* Condition Filter */

.FilterConditionDiv {
    border-bottom: 1px solid #929494;
}

.FilterConditionDiv h6{
    font-weight: 700;
}

.FilterConditionDiv a{
    display: block;
    color: rgba(0,47,52,.64);
    font-size: 0.9rem;
}

.FilterConditionDiv label{
    margin-left: 7px;
    margin-top: 5px;
}