
.CardRowDiv {
    width: 92%;
}

.CardColDiv {
    padding: 0%;
    margin-bottom: 11px;
}

.NavLinkBody{
    text-decoration: none;
}

.card-title{
    color: #222;
}

.card-text{
    color: rgb(77, 75, 75);
}

.CardSectionHeading {
    padding-left: 26px;
    font-size: 1.5rem;
}

.CardColDiv img{
    width: 100%;
    object-fit:scale-down;
    height: 150px;
    background-color: #222;
}

.LoadButtonDiv {
    text-align: center;
    padding: 40px 0 0 0;
}

.LoadButtonDiv button{
    padding: 10px 10px 11px 10px ;
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
}