*{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: #f7f8f8;
}

.Navbar_Section {
  padding-top: 10px;
  padding-left: 30px;
  
}

.Navbar_Section svg{
  margin-left: 35px;
}

.Brand-Img {
  width: 90%;
  margin-left: 21px;
}

.Input-Div {
  padding-top: 15px;
}

.SearchInput{
  width: 65%;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  border: 3px solid black;
}

.City-Input{
  padding: 10px 20px;
  width: 26%;
  margin-left: 10px;
  margin-right: 15px;
  border: 3px solid black;
}

.SerachButton{
  padding: 10px 10px 6px 10px;
  fill: white;
  background-color: black;
  border: 3px solid black;
  border-radius: 0 5px 5px 0;
}

.Login-Div{
  padding-top: 15px;
}

.SellButton {
  position: relative;
  border: none;
}

.SellButton-span{
  position: absolute;
  top: 11px;
  left: 28px;
  font-weight: 500;
}

.SellButton-span img{
  margin-right: 5px;
  margin-bottom: 2px;
}


/* Media Queries for Custom Css */

@media only screen and (max-width: 992px){
.Olx-Icon {
  width: 5%;
}

.Brand-Img {
  width: 100%;
}

.City-Input {
  width: 30%;
}

.SearchInput {
  width: 55%;
}

} 

@media only screen and (max-width: 768px){
  .Olx-Icon {
    width: 7%;
  }

  .Brand-Img {
    width: 80%;
  }

  .City-Input {
    width: 30%;
  }
  
  .SearchInput {
    width: 45%;
  }

  .Login-Div{
    text-align: center;
  }

  .Header{
    padding-bottom: 20px;
  }

  } 


@media only screen and (max-width: 580px){

.BrandImageDiv{
  visibility: hidden;
}
.Brand-Img{
  width: 0;
}  

.Input-Div{
  text-align: center;
}
}




