

.PostSection {
    border: 1px solid rgb(182, 175, 175);
    border-radius: 5px;
}

.PostCategoryDiv {
    padding: 20px 15px;
    /* border-bottom: 1px solid black; */
    color: black;
}

.PostCategoryDiv a{
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
}

/* Form Details Css */

.PostFormDiv {
    padding-left: 30px;
    padding-right: 30px;
}

.PostDetailsDiv{
    padding: 35px 0 5px 0 ;
}

/* Input Title */

.PostTitleDiv {
    margin-bottom: 15px;
}

.titleInput{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.Label {
    font-size: 0.9rem;
}

.PostTitleDiv span{
    font-size: 0.7rem;
}

/* Description */

.PostDescDiv{
    margin-bottom: 15px;
}

.DescInput {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.PostDescDiv span{
    font-size: 0.7rem;
    margin-top: 0;
}

/* .DesctextSpan {
    margin-right: 76.8%;
} */

/* Brand */

.PostBrandDiv {
    margin-bottom: 15px;
}

.BrandInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

/* Condition */

.PostConditionDiv {
    margin-bottom: 35px;
}

.ConditionButtondiv {
    display: flex;
}

.ConditionButton {
    border: 1px solid black;
    padding: 13px 11px;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 0.9rem;
}

/* Price */

.PostPricediv{
    margin-bottom: 25px;
}

.PriceInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background-color: white;
}

.PriceDetaildiv {
    padding-bottom: 20px;
}

/* Images */

.PostPictureDiv {
    margin-bottom: 25px;
}

.PictureDeatilDiv {
    margin-bottom: 30px;
}

.PictureRowDiv {
    justify-content: space-evenly;
}

.PictureRowCol {
    height: 150px;
    position: relative;
    border: 2px solid rgb(190, 189, 189);
}

.Image{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.ImageInput {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.PictureDivSpan {
    font-size: 0.7rem;
    margin-left: 20px;
}

/* Location */

.locationInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.LocationInputDiv {
    border: 1px solid black;
    height: 45px;
    border-radius: 5px;
    padding: 10px 0px 0px 11px;
}

/* Name */

.NameInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.PersonalInputsection{
    display: flex;
}

.userImagediv {
    width: 10%;
    
}

.ContactInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

/* Submit */

.PostSubmitDiv button{
    padding: 10px 35px;
    background-color: #002f34;
    border-style: none;
    color: white;
    font-weight: 600;
}

/* Description Function Css */

.onFocusDesc{
    border: 1px solid aqua;
}

.onFocusTextDesc{
    color: aqua;
}

.DescFocusOut{
    border: 3px solid red;
}

.DescTextFocusOut{
    /* margin-right: 62%; */
    color: red;
}

.DescTextChange{
    /* margin-right: 69%; */
    color: red;
}

/* Condition Function Css */

.ConditionButtonClick{
    border: 3px solid #00a49f;
    color: #00a49f;
    background-color: #c8f8f6;
    padding: 11px 9px;
}

/* Price Functions Css */

.PriceFocusOn{
    border: 1px solid aqua;
}

.PriceFocusOut{
    border: 3px solid red;
}

.PriceColorFocus{
    color: aqua;
}

/* Images Functions */

.ImageOnChange{
    border: 2px solid red;
}

@media only screen and (max-width: 992px){
    .PostCategoryDiv h5{
        font-size: 1.1rem ;
    }

    .PostCategoryDiv a{
        font-size: 0.8rem;
    }

    .PostDetailsDiv h5{
        font-size: 1.1rem;
    }

    .Label{
        font-size: 0.8rem;
    }

    .ImageInput {
        font-size: 0.6rem;
    }

    .PictureRowCol {
        height: 125px;
        position: relative;
        border: 2px solid rgb(190, 189, 189);
    }

    .NameInput {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        outline: none;
    }
    
    .PersonalInputsection{
        display: flex;
    }
    
    .userImagediv {
        width: 10%;
    }

    .userImagediv img{
        width: 100%;
    }
    
    .ContactInput {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        outline: none;
    }

    .PersonalDetailsdiv h5{
        font-size: 1.1rem;
    }

    .LocationDetailDiv h5{
        font-size: 1.1rem;
    }

    .PictureDeatilDiv h5{
        font-size: 1.1rem;
    }

    .PriceDetaildiv h5{
        font-size: 1.1rem;
    }
    
}

@media only screen and (max-width: 768px){
    .ImageInput {
        font-size: 0.4rem;
    }

    .PictureRowCol {
        height: 100px;
        position: relative;
        border: 2px solid rgb(190, 189, 189);
    }

    .ConditionButton {
        border: 1px solid black;
        padding: 11px 7px;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 0.7rem;
    }

    .userImagediv {
        width: 15%;
        margin-right: 7px;
    }

    .userImagediv img{
        width: 100%;
    }

    .PostSection h5{
        font-size: 1rem;
    }

    .PostSection span{
        font-size: 0.6rem;
    }

    .Label{
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 576px){
    .ConditionButton {
        padding: 9px 5px;
        margin-right: 5px;
        font-size: 0.7rem;
    }

    .PictureRowCol {
        margin: 5px 0;
        width: 30%;
    }

    .userImagediv {
        width: 25%;
        margin-right: 7px;
    }

    .userImagediv img{
        width: 100%;
        margin-top: 3px;
    }

    .MobileView{
        padding: 8px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;
        outline: none;
    }

    .LocationInputDiv {
        border: 1px solid black;
        height: 40px;
        border-radius: 5px;
        padding: 7px 0px 0px 11px;
    }   

    .PostSubmitDiv button{
        padding: 8px 30px;
        font-weight: 600;
    }
}




/* .PictureRowCol {
    position: relative;
    padding: 0;
    height: 130px;
}

.Icondiv{
    height: 130px;
    background-color: blue;
    z-index: -1;
    position: relative;
}

.Image{
    padding: 40px 0 0 85px;
}

.ImageInput {
    position: absolute;
    top: 0;
    background-color: aqua;
    width: 100%;
    height: 130px;
    z-index: 0;
}

.ImageInputDiv {
    position: absolute;
    top: 0;
    background-color: aqua;
}

.PictureInput {
    height: 130px;
    width: 100%;
    
}

.ImageDiv {
    width: 100%;
    height: 130px;
    background-color: red;
    border: 2px solid rgb(167, 163, 163);
}

.ImageDiv img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* Title Conditions */